@charset "UTF-8";

#wrap {
	width:1200px;
}

.contents > .main-menu {
	width:200px;
	height:500px;
	background-color:cornflowerblue;
}

.contents > .main-contents {
	width:1000px;
}

.input-label {
	width:120px;
	text-align:right;
}

footer {
	height:100px;
}