<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeom.spring.test.mybatis.repository.RealEstateRepository">
 	<select id="selectRealEstate" resultType="com.yeom.spring.test.mybatis.domain.RealEstate"
 	parameterType="int">
 		SELECT 
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt` 
 		FROM 
 			`real_estate`
 		WHERE 
 			`id` = #{id}
 	</select>
 	
 	<select id="selectRealEstateListByRentPrice" parameterType="int"
 	resultType="com.yeom.spring.test.mybatis.domain.RealEstate">
	 		SELECT 
	 			`id`
	 			, `realtorId`
	 			, `address`
	 			, `area`
	 			, `type`
	 			, `price`
	 			, `rentPrice`
	 			, `createdAt`
	 			, `updatedAt` 
	 		FROM 
	 			`real_estate`
	 		WHERE 
	 			<![CDATA[`rentPrice` < #{rentPrice}]]>
 	</select>
 	
 	<select id="selectRealEstateListByAreaAndPrice" parameterType="map"
 	resultType="com.yeom.spring.test.mybatis.domain.RealEstate">
 		SELECT 
	 			`id`
	 			, `realtorId`
	 			, `address`
	 			, `area`
	 			, `type`
	 			, `price`
	 			, `rentPrice`
	 			, `createdAt`
	 			, `updatedAt` 
	 		FROM 
	 			`real_estate`
	 		WHRER
	 			<![CDATA[
	 			`area` >= #{area}
	 			AND `price` <= #{price}
	 			AND `type` = '매매'
	 			]]>
 	</select>
 	
 	<insert id="insertRealEstateByObject" parameterType="com.yeom.spring.test.mybatis.domain.RealEstate">
 		INSERT INTO
 			`real_estate`
 		(
 			`realtorId`
	 		, `address`
	 		, `area`
	 		, `type`
			, `price`
	 		, `rentPrice`
 		)
 		VALUE
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 		)
 	</insert>
 	
 	<insert id="insetRealEstate" parameterType="map">
 		INSERT INTO
 			`real_estate`
 		(
 			`realtorId`
	 		, `address`
	 		, `area`
	 		, `type`
			, `price`
	 		, `rentPrice`
 		)
 		VALUE
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 		)
 	</insert>
 	
 	<update id="updateRealEstate" parameterType="map">
 		UPDATE
 			`real_estate`
 		SET
 			`type` = #{type}
 			, `price` = #{price}
 			, `updatedAt` = now()
 		WHERE
 			`id` = #{id}	
 	</update>
 	
 	<delete id="deleteRealEstate" parameterType="int">
 		DELETE FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 </mapper>