<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h1>즐겨찾기 추가하기</h1>
		
		<lable>제목</lable>
		<input type="text" id="nameInput" class="form-control col-6">
		
		<label class="mt-2">주소</label>
		<div class="d-flex">
			<input type="text" id="addressInput" class="form-control col-6">
			<button type="button" id="urlBtn" class="btn btn-info ml-2">중복확인</button>
		</div>
		<div class="small text-danger d-none" id="duplicateText">중복된 url 입니다</div>
		<div clas="small text-success d-none" id="availableText">저장 가능한 url 입니다</div>
		
		<button type="button" id="addBtn" class="form-control col-6 bg-success mt-3 text-white">추가</button>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
			$("urlBtn").on("click", function() {
				let address = $("addressInput").val();
	
				if(address == "") {
					alert("주소를 입력하세요");
					return ;
				}
				
				// http:// 로 시작하지 않는다 그리고 https://로 시작하지 않는다
				// if(!address.startsWith("http://") || !address.startsWith("https://"))
				if(!address.startsWith("http://") || !address.startsWith("https://")) {
					alert("주소를 확인해주세요");
					return ;
				}
				
				$.ajax({
					type:"post"
					, url:"/ajax/favorite/duplicate-url"
					, data:{"url":address}
					, success:function(data) {
						if(data.isDuplicate) {
							// 중복
							$("#duplicateText").removeClass("d-none");
							$("#availableText").addClass("d-none");
						} else {
							// 중복 아님
							$("#availableText").removeClass("d-none");
							$("#duplicateText").addClass("d-none");
						}
					} 
					, error:function() {
						alert("에러");	
					}
					
				});
				
			});
			
			$("#addBtn").on("click", function() {
				
				let name = $("nameInput").val();
				let address = $("addressInput").val();
				
				if(name == "") {
					alert("사이트 이름을 입력하세요");
					return ;
				}
				
				if(address == "") {
					alert("주소를 입력하세요");
					return ;
				}
				
				// http:// 로 시작하지 않는다 그리고 https://로 시작하지 않는다
				// if(!address.startsWith("http://") || !address.startsWith("https://"))
				if(!address.startsWith("http://") || !address.startsWith("https://")) {
					alert("주소를 확인해주세요");
					return ;
				}
				
				$.ajax({
					type:"post"
					, url:"/ajax/favorite/create"
					, data:{"name":name, "url":address}
					, success:function(data) {
						// 성공, 실패
						// {"result":"success"}
						// {"result":"fail"}
						if(data.result == "success") {
							// 즐겨찾기 목록 페이지로 이동
							location.href = "/ajax/favorite/list";
						} else {
							alert("추가 실패");
						}
					}
					, error:function() {
						alert("추가 에러");
					}
				});
				
			});
		});
	</script>
</body>
</html>