<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공인중개사</title>
</head>
<body>
	<h2>공인중개사 정보</h2>
	<table border="1">
		<tr>
			<td>ID</td>
			<td th:text="${realtor.id}">32</td>
		</tr>
		<tr>
			<td>상호명</td>
			<td th:text="${realtor.office}">대박공인중개사</td>
		</tr>
		<tr>
			<td>전화 번호</td>
			<td th:text="${realtor.phoneNumber}">010-222-1111</td>
		</tr>
		<tr>
			<td>주소</td>
			<td th:text="${realtor.address}">서울시 서초구</td>
		</tr>
		<tr>
			<td>등급</td>
			<td th:text="${realtor.grade}">안심중개사</td>
		</tr>
	</table>
</body>
</html>