<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thymeleaf 문법 테스트</title>
</head>
<body>
	
	<h2>1. 변수</h2>
	<th:block th:with="number1=36, number2=3, avg=${(number1+number2)/2.0}">
		<h4 th:text="|첫번째 숫자 : ${number1}|"></h4>
		<h4 th:text="|두번째 숫자 : ${number2}|"></h4>
		
		<h2>2. 산술연산</h2>
		
		<h4 th:text="|더하기 : ${number1 + number2}|"></h4>
		<h4 th:text="|뺴기 : ${number1 - number2}|"></h4>
		<h4 th:text="|곱하기 : ${number1 * number2}|"></h4>
		<h4 th:text="|나누기 : ${number1 / number2}|"></h4>
		
		<h2>3. 태그 그대로 출력</h2>
		<div th:utext="'<h3>안녕하세요</h3>'"></div>
		
		<h2>4. if와 unless</h2>
		<h1 th:if="${avg >= 10}" th:text="${avg}"></h1>
		<h3 th:unless="${avg >= 10}" th:text="${avg}"></h3>
		
	</th:block>
	
	
	
	
	
</body>
</html>